.sansation {
  font-family: "Sansation", sans-serif;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.volkhov {
  font-family: "Volkhov", serif !important;
}

@keyframes fly {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-20px);
  }
}

.animate-fly {
  animation: fly 2s ease-in-out infinite alternate;
}
